.page{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.see-more{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 1000;
  padding: 25% 0 0 25px;
  .cancel-img{
    width: 70px;
    height: 160px;
    margin-left: 312px;
}
}

.header-card{
    background-image: url('https://s2.ax1x.com/2020/03/07/3j6ap6.png');
    background-size: cover;
    background-repeat:no-repeat;
    height: 450px;
    color: #fff;
    font-size: 30px;
    padding: 10px 30px 0;
}

.activity{
  overflow: hidden;
  z-index: 1;
  .swiper-container {
    width: 750px;
    height: 200px;
    .swiper-item{
      text-align: center;
    }
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 36px 50px;
}