.card_components{
    background-image: url('../../assert/images/card_bg.png');
    background-size: cover;
    width: 465px;
    margin: auto;
    box-shadow: 0 3px 5px 0 hsla(0,0%,60%,.43);
    border-radius: 3.69px;
    padding: 27px 24px 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .person{
        width: 15px;
        font-size: 21px;
        text-align: center;
        margin-top: 12px;
        .name{
            -ms-flex-pack: distribute;
            justify-content: space-around;
            width: 2rem;
            .position{
                font-size: 17px;
                margin-left: 6px;
                margin-top: 5px;
            }
        }
        .avator{
            width: 15px;
            height: 15px;
            border-radius: 10px;
            .avator-image{
                width: 15px;
                height: 15px;
                border-radius: 10px;
            }
        }
    }
    
    .certificates{
        width: 248px;
        font-size: 18px;
        .cer-image{
            width: 36px;
            height: 48px;
            padding-right: 9px;
        }
    }
    .description{
        font-size: 18px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 51px;
        overflow: hidden;
        margin-bottom: 24px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }
    .call{
        width: 60px;
        height: 60px;
        position: absolute;
        margin-top: 173px;
        margin-left: 420px;
    }
}