.card_components{
    background-image: url('../../assert/images/card_bg.png');
    background-size: cover;
    width: 620px;
    margin: auto;
    box-shadow: 0 3px 5px 0 hsla(0,0%,60%,.43);
    border-radius: 3.69px;
    padding: 36px 32px 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .left{
        width: 190px;
        font-size: 28px;
        text-align: center;
        margin-top: 16px;
        .name{
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            width: 200px;
            .position{
                font-size: 22px;
                margin-left: 3px;
                margin-top: 6px;
            }
        }
        .avator{
            width: 190px;
            height: 190px;
            border-radius: 5px;
            .avator-image{
                width: 190px;
                height: 190px;
                border-radius: 5px;
            }
        }
    }
    .right{
        width: 370px;
        font-size: 24px;
        .certificates{
            padding-top: 16px;
            padding-bottom: 22px;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            .cer-image{
                width: 56px;
                height: 74px;
                padding-right: 12px;
            }
        }
        .description{
            font-size: 24px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            height: 68px;
            overflow: hidden;
            margin-bottom: 32px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
        }
        .call{
            position: absolute;
            margin-top: 190px;
            margin-left: 300px;
            .call-img{
                width: 80px;
                height: 80px;
            }
        }
    }
}