.grid-item {
    width: 3.3rem;
    margin-top: .16rem;
    background-size: cover;
    padding: .32rem 0 .32rem .2rem;
    color: #fff;
    background-image: url('../../assert/images/grid_bg.png');
    .grid-title {
        font-weight: 800;
        font-size: .28rem;
    }
    .grid-description{
        margin-top: .12rem;
        font-weight: 300;
        font-size: .24rem;
    }
}