.grid-item {
    width: 330px;
    height: 150px;
    margin-top: 16px;
    background-image: url('https://s2.ax1x.com/2020/03/07/3j6ctI.png');
    background-size: cover;
    .grid-content{
        padding: 32px 0 32px 20px;
        color: #fff;
        
        .grid-title {
            font-weight: 800;
            font-size: 28px;
        }
        .grid-description{
            margin-top: 12px;
            font-weight: 300;
            font-size: 24px;
        }
    }
    
}