.title_components {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-Content: center;
    align-items : center;
    margin-bottom: 20px;
    font-size: 27px;
    &__logo {
        height: 20px;
        width: 20px;
        margin: 0 20px;
    }
}