.product-item{
    border: 1px solid #eaeced;
    margin-left: -1px;
    margin-top: -1px;
    padding: 10px 10px 32px 32px;
    .product-title{
        width: 248px;
        margin-top: 10px;
        font-size: 21px;
    }
    .product-description{
        color: #666;
        font-size: 20px;
        padding: 0;
    }
    .product-rate{
        font-size: 36px;
        display: -ms-flexbox;
        display: flex;
        color: red;
        font-weight: 500;
        margin-top: 15px;
        .percent{
            font-size: 23px;
            margin-top: 12px;
        }
    }
    .product-type{
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    .tip-right{
        background: #3c8dfa;
        border-radius: 0 0 0 4px;
        color: #fff;
        position: absolute;
        font-size: 15px;
        text-align: center;
        padding: 6px 24px;
        border-radius: 3px;
    }
    }
}